WoWCharacterManager/Service References/CharacterManagerServiceReference/CharacterManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharacterManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharacterManagerService" />
      <xsd:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharacterManagerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetFactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactions" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetFactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetRaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaces" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetRaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRacesResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClasses" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_GetClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassesResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_SubmitCharacterData_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitCharacterData" />
  </wsdl:message>
  <wsdl:message name="ICharacterManagerService_SubmitCharacterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitCharacterDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharacterManagerService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/GetData" message="tns:ICharacterManagerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/GetDataResponse" message="tns:ICharacterManagerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/GetDataUsingDataContract" message="tns:ICharacterManagerService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/GetDataUsingDataContractResponse" message="tns:ICharacterManagerService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/GetFactions" message="tns:ICharacterManagerService_GetFactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/GetFactionsResponse" message="tns:ICharacterManagerService_GetFactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaces">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/GetRaces" message="tns:ICharacterManagerService_GetRaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/GetRacesResponse" message="tns:ICharacterManagerService_GetRaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/GetClasses" message="tns:ICharacterManagerService_GetClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/GetClassesResponse" message="tns:ICharacterManagerService_GetClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitCharacterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterManagerService/SubmitCharacterData" message="tns:ICharacterManagerService_SubmitCharacterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterManagerService/SubmitCharacterDataResponse" message="tns:ICharacterManagerService_SubmitCharacterData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharacterManagerService" type="tns:ICharacterManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactions">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/GetFactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaces">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/GetRaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/GetClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitCharacterData">
      <soap:operation soapAction="http://tempuri.org/ICharacterManagerService/SubmitCharacterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharacterManagerService">
    <wsdl:port name="BasicHttpBinding_ICharacterManagerService" binding="tns:BasicHttpBinding_ICharacterManagerService">
      <soap:address location="http://localhost:63064/CharacterManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>