WoWCharacterManager/Service References/CharacterManagerServiceReference/CharacterManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Faction" nillable="true" type="tns:Faction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaction" nillable="true" type="tns:ArrayOfFaction" />
  <xs:complexType name="Faction">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactionId" type="xs:int" />
      <xs:element minOccurs="0" name="FactionString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Faction" nillable="true" type="tns:Faction" />
  <xs:complexType name="ArrayOfRace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Race" nillable="true" type="tns:Race" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRace" nillable="true" type="tns:ArrayOfRace" />
  <xs:complexType name="Race">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactionId" type="xs:int" />
      <xs:element minOccurs="0" name="RaceId" type="xs:int" />
      <xs:element minOccurs="0" name="RaceString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Race" nillable="true" type="tns:Race" />
  <xs:complexType name="ArrayOfClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass" nillable="true" type="tns:ArrayOfClass" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="ClassString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
  <xs:complexType name="CharacterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="tns:Class" />
      <xs:element minOccurs="0" name="Faction" nillable="true" type="tns:Faction" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="tns:Race" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterData" nillable="true" type="tns:CharacterData" />
  <xs:complexType name="ArrayOfCharacterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterData" nillable="true" type="tns:CharacterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterData" nillable="true" type="tns:ArrayOfCharacterData" />
</xs:schema>