WoWCharacterManager/Service References/CharacterManagerServiceReference/CharacterManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharacterManagerService" />
  <xs:import schemaLocation="http://localhost:63064/CharacterManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CharacterManagerService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CharacterManagerService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="GetFactionsResult" nillable="true" type="q3:ArrayOfFaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="factionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="GetRacesResult" nillable="true" type="q4:ArrayOfRace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="GetClassesResult" nillable="true" type="q5:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="GetCharacterListResult" nillable="true" type="q6:ArrayOfCharacterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitCharacterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="submitCharacter" nillable="true" type="q7:CharacterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitCharacterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CharacterManagerService.Models" minOccurs="0" name="SubmitCharacterDataResult" nillable="true" type="q8:ArrayOfCharacterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>